$base-font-family-sans: sans-serif;
$base-font-family-serif: serif;
$base-font-family-code: monospace;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: $base-font-family-code;


p {
	font-family: $base-font-family-sans;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin-bottom: $base-line-height;
}
