<section id='A01'>

	<div class="container">
		<header>
			<h3>Flex Direction - Row (Default)</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>	
	</div>

</section>


<section id='A02'>

	<div class="container">
		<header>
			<h3>Flex Direction - Row Reverse</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>	
	</div>

</section>

<section id='A03'>

	<div class="container">
		<header>
			<h3>Flex Direction - Column</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>	
	</div>

</section>

<section id='A04'>

	<div class="container">
		<header>
			<h3>Flex Direction - Column Reverse</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>	
	</div>

</section>

<section id='A05'>

	<div class="container">
		<header>
			<h3>Flex Items</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A06'>

	<div class="container">
		<header>
			<h3>Flex Items - Main and Aside</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Main</h3></div>
				<div class="item"><h3>Aside</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A07'>

	<div class="container">
		<header>
			<h3>Flex Wrap</h3>
		</header>

		<div class="content">

			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
				<div class="item"><h3>Item 7</h3></div>
				<div class="item"><h3>Item 8</h3></div>
				<div class="item"><h3>Item 9</h3></div>
				<div class="item"><h3>Item 10</h3></div>
				<div class="item"><h3>Item 11</h3></div>
				<div class="item"><h3>Item 12</h3></div>
				<div class="item"><h3>Item 13</h3></div>
				<div class="item"><h3>Item 14</h3></div>
			</div>

		</div>
	</div>

</section>

<section id='A08'>

	<div class="container">
		<header>
			<h3>Flex Flow - Combination of direction & wrap</h3>
		</header>

		<div class="content">

			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
				<div class="item"><h3>Item 7</h3></div>
				<div class="item"><h3>Item 8</h3></div>
				<div class="item"><h3>Item 9</h3></div>
				<div class="item"><h3>Item 10</h3></div>
				<div class="item"><h3>Item 11</h3></div>
				<div class="item"><h3>Item 12</h3></div>
				<div class="item"><h3>Item 13</h3></div>
				<div class="item"><h3>Item 14</h3></div>
			</div>
			
		</div>
	</div>

</section>

<section id='A09'>

	<div class="container">
		<header>
			<h3>Flex Items Width</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A10'>

	<div class="container">
		<header>
			<h3>Flex Basis - Equivalent to width for flex box items</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A11'>

	<div class="container">
		<header>
			<h3>Justify Content - Flex Start (Default)</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A12'>

	<div class="container">
		<header>
			<h3>Justify Content - Flex End</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A13'>

	<div class="container">
		<header>
			<h3>Justify Content - Center</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A14'>

	<div class="container">
		<header>
			<h3>Justify Content - Space Around</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A15'>

	<div class="container">
		<header>
			<h3>Justify Content - Space Between</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A16'>

	<div class="container">
		<header>
			<h3>Justify Content - Space Evenly</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A17'>

	<div class="container">
		<header>
			<h3>Align Items - Stretch (Default)</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A18'>

	<div class="container">
		<header>
			<h3>Align Items - Flex Start</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A19'>

	<div class="container">
		<header>
			<h3>Align Items - Flex End</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A20'>

	<div class="container">
		<header>
			<h3>Align Items - Center</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A21'>

	<div class="container">
		<header>
			<h3>Align Items - Baseline</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A22'>

	<div class="container">
		<header>
			<h3>Align Content - Flex Start</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A23'>

	<div class="container">
		<header>
			<h3>Align Content - Flex End</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A24'>

	<div class="container">
		<header>
			<h3>Align Content - Center</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A25'>

	<div class="container">
		<header>
			<h3>Align Content - Space Around</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A26'>

	<div class="container">
		<header>
			<h3>Align Content - Space Between</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A27'>

	<div class="container">
		<header>
			<h3>Align Content - Space Evenly</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
				<div class="item"><h3>Item 4</h3></div>
				<div class="item"><h3>Item 5</h3></div>
				<div class="item"><h3>Item 6</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A28'>

	<div class="container">
		<header>
			<h3>Align Self - Flex Start | Flex End | Center | Baseline | Stretch</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item"><h3>Item 1</h3></div>
				<div class="item"><h3>Item 2</h3></div>
				<div class="item"><h3>Item 3</h3></div>
			</div>
		</div>
	</div>

</section>

<section id='A29'>

	<div class="container">
		<header>
			<h3>Order - 1 4 5 3 2</h3>
		</header>

		<div class="content">
			<div class="content__container">
				<div class="item item-1"><h3>Item 1</h3></div>
				<div class="item item-2"><h3>Item 2</h3></div>
				<div class="item item-3"><h3>Item 3</h3></div>
				<div class="item item-4"><h3>Item 4</h3></div>
				<div class="item item-5"><h3>Item 5</h3></div>
			</div>
		</div>
	</div>

</section>
