:root {
	--dark-grayish-green: #868a7b;
	--very-dark-gray: #333333;
	--white: #fff;
	--fullsize: 100%;
}

html, body {
	width: var(--fullsize);
	padding: 0;
	margin: 0;
	height: var(--fullsize);
	min-width: var(--fullsize);
	max-width: var(--fullsize);
	overflow: hidden;
	background: var(--dark-grayish-green);
}
