body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.Home {
  margin: 0 auto;
  width: 960px;
}

.Home h1 {
  font-size: 32px;
  color: #333;
}

.Home p {
  color: #333;
  text-align: center;
}

.Home a {
  color: #56D5FA;
  text-decoration: none;
}

.Home a:hover {
  color: #333;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
